@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-lora: 'Lora', serif;
}

@layer base {
  body {
    @apply bg-white text-slate-900;
  }
}

@layer utilities {
  .font-lora {
    font-family: var(--font-lora);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600;
}

